@model List<SignalRWebUI.DTOs.TestimonialDto.ResultTestimonialDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <h4 class="page-title">Tables</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Testimonial Table</div>
                </div>
                <div class="card-body">
                    <div class="card-sub">
                        Available Testimonials
                    </div>
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Title</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><img src="@item.ImageUrl" height="50" width="50" />@item.Fullname</td>
                                    <td>@item.Title</td>
                                    <td>@item.Comment</td>
                                    <td>@item.Status</td>
                                    <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Delete</a></td>
                                    <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-success">Update</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Testimonial/CreateTestimonial/" class="btn btn-primary">Add Testimonial</a>
                </div>
            </div>
        </div>
    </div>
</div>
