@model List<SignalRWebUI.DTOs.ProductDto.ResultProductWithCategoryDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="container-fluid">
	<h4 class="page-title">Tables</h4>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Product Table</div>
				</div>
				<div class="card-body">
					<div class="card-sub">
						Available Products
					</div>
					<table class="table mt-3">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Product</th>
								<th scope="col">Category</th>
								<th scope="col">Price</th>
								<th scope="col">Description</th>
								<th scope="col">Status</th>
								<th scope="col">Delete</th>
								<th scope="col">Update</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model)
							{
								count++;
								<tr>
									<td>@count</td>
									<td><img src="@item.ImageUrl" height="50" width="50" />@item.ProductName</td>
								 	<td>@item.CategoryName</td> 
									<td>@item.Price</td>
									<td>@item.Description</td>
									<td>@item.ProductStatus</td>
									<td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Delete</a></td>
									<td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-success">Update</a></td>
								</tr>
							}
						</tbody>
					</table>
					<a href="/Product/CreateProduct/" class="btn btn-primary">Add Product</a>
				</div>
			</div>
		</div>
	</div>
</div>

